%h1 results

%table
  %tr
    %th
    %th
    %th

  -# @posts.each do |post|
    -# %tr
      -# %td= link_to "#{post.content}", posts_result_path(post)

  - @posts.each do |post|
    - j = post[:id].to_s.to_sym
    - if !@results[j].nil? && @results[j][0]=="content"
      %tr
        %td
          %img{src: "#{avatar_from(user_id: post.user_id)}", tooltip: "#{user_attrs(user_id: post.user_id).name}"}
          = link_to "#{@results[j][1].html_safe}", posts_result_path(post)
    - else
      - f[:content]

%br

